STORAGE_TYPE="sqlite"
NEXT_PUBLIC_STORAGE_TYPE="sqlite"
SQLITE_DB_PATH="./data/portfolio.sqlite3"
NEXT_PUBLIC_FIREBASE_ADMIN_EMAIL=""
FIREBASE_ADMIN_PROJECT_ID=""
FIREBASE_ADMIN_CLIENT_EMAIL=""
FIREBASE_ADMIN_PRIVATE_KEY=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
ADMIN_PASSWORD=""
ADMIN_USERNAME=""
ADMIN_SESSION_SECRET=""